<div class="container-fluid" *ngIf="product">
  <h2>{{product.name | uppercase}} Details</h2>
  <!-- <div><span>id: </span>{{product.id}}</div> -->
  <div class="row">
    <label class="col-3"> name:
      <p><input [(ngModel)]="product.name" placeholder="name"/></p>
    </label>
    <label class="col-2">amount:
      <p><input [(ngModel)]="product.amount" placeholder="amount"/></p>
    </label>
    <label class="col-2">price:
      <p><input [(ngModel)]="product.price" placeholder="price"/></p>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
