<div class="container-fluid" *ngIf="product">
    <h2>Update product {{product.name | uppercase}}</h2>

      <mat-form-field appearance="fill" class="name-form">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="product.name" matInput placeholder="name" value="{{product.name}}">
      </mat-form-field>

      <mat-form-field appearance="fill" class="price-form">
        <mat-label>Price</mat-label>
        <input type="number" [(ngModel)]="product.price" matInput placeholder="price" value="{{product.price}}">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="product.category">
        <mat-option *ngFor="let key of categories" [value]="key">
          {{ key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <p>
        <button (click)="save()" mat-raised-button color="primary">Save</button>
        <button (click)="goBack()" mat-stroked-button color="primary">Go back</button>
      </p>
    </div>






