<h2>My Products</h2>

<!-- <div>
  <label>Product name:
    <input #productName />
  </label>
  <label>Product amount:
    <input type="number" #productAmount />
  </label>
  <label>Product price:
    <input #productPrice />
  </label> -->
  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button (click)="add(productName.value, productAmount.value, productPrice.value); productName.value=''; productAmount.value=''; productPrice.value=''">
    add
  </button>
</div> -->

<ul class="products list-group container">
  <li *ngFor="let product of products" class="list-group-item">
    <a routerLink="/products/{{product.id}}" class=" row">
      <div class="col-6">
        {{product.name}} 
      </div>
      <div class="col-2">
        <h2 class="badge badge-light">{{product.amount}}</h2>
      </div>
      <div class="col-2 price text-success">
        {{product.price}}$
      </div>
      <div class="col-2">
        <svg title="delete product" (click)="delete(product)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
          <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
          <path fill-rule="evenodd" d="M10.854 7.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 10.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        </svg>
      </div>
    </a>
  </li>

</ul>

<!-- <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
